/bin/
/assemble/
**/.project
**/.class
/**/auto-gen/generated/
/**/build/
/**/predist/
**/build.number
**/MANIFEST.MF
**/.classpath
**/.metadata
**/.settings
/.project
/.classpath
/.settings
/.gitignore~
bin/
*.tmp
*.bak
.settings/
.factorypath
/target/
